.inicio{

    background-image: url(https://img.europapress.es/fotoweb/fotonoticia_20190520045042_1200.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Game of Thrones;
    /*

    background-attachment: fixed;

    background-size: cover;

    font-family: Game of Thrones;

   

    min-height: 100%;

    max-width: 100%;

    position: relative;

    height: 700px;

    width: 100%;

    display:flex;

    justify-content: center;


    flex-direction: column;*/

}



.inicioNombre{

    text-align: center;

    margin: auto;

    font-size: 150px;

    padding-top: 10%;
  

    color: white;

   

}